@use './colors.scss' as *;

main {
	display: grid;
	place-items: left;
	margin-top: 2rem;
	p,
	h1 {
		margin-left: 2rem;
		margin-right: 2rem;
	}

	button {
		position: absolute;
		width: 100%;
		font-weight: 700;
		border: $button-color solid 3px;
		background-color: $button-color;
		border-radius: 1rem;
		padding: 1rem;
		bottom: 1rem;
		transition: background-color 0.4s, color 0.4s;

		&:active,
		&:hover {
			background-color: transparent;
			color: $button-color;
		}
	}
}
