@use './colors.scss' as *;

main {
	display: grid;
	place-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	a {
    text-decoration: none;
		font-weight: 700;
		border: $button-color solid 3px;
		background-color: $button-color;
		border-radius: 1rem;
    padding: 1rem;
		transition: background-color 0.4s, color 0.4s;

		&:active,
		&:hover {
			background-color: transparent;
			color: $button-color;
		}
	}
}
